@page
@model Frontas.Pages.IndexModel
@{
    ViewData["Title"] = "Renginiai";
}

<div class="container">
    <h1 class="title">Renginiai</h1>
    <div class="row">
        <div class="col-md-8">
            @foreach (var renginys in Model.Event)
            {
                <a href="/EventPage?id=@renginys.Id" class="event-link">
                    <div class="event">
                        <h2>@renginys.Title</h2>
                        <p>@renginys.Description</p>
                        <p>@renginys.StartDate</p>
                        <p>@renginys.EndDate</p>
                    </div>
                </a>
            }
        </div>
        <div class="col-md-4">
            <a asp-page="./UserInfoPage" class="user-info-link">
                <div class="user-info">
                    <h2>Vartotojo pavadinimas</h2>
                </div>
            </a>
            <a asp-page="./CreateEventPage" class="create-event-link">
                <div class="create-event">
                    <h3>Kurti renginį</h3>
                </div>
            </a>
        </div>
    </div>
</div>
